* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Karla', sans-serif;
    color: white;
}

main {
    padding: 36px;
}

.bottom {
    bottom: 0;
}

.form {
    display: grid;
    grid-template: 40px 40px / 1fr 1fr;
    gap: 17px;
    margin-bottom: 17px;
}

.form-btn {
    font-family: 'Karla', sans-serif;
    grid-column: 1 / -1;
    border: none;
    border-radius: 5px;
    background: linear-gradient(90.41deg, #711F8D 1.14%, #A818DA 100%);
    color: white;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
}

.form-input {
    font-family: 'Karla', sans-serif;
    border: 1px solid #D5D4D8;
    border-radius: 5px;
    text-indent: 5px;
    font-size: 14px;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 65px;
    padding: 20px;
    background: linear-gradient(90deg, #672280 1.18%, #A626D3 100%);
}

.header-logo {
    display: flex;
    align-items: center;
    font-weight: 700;
    font-size: 1.25rem;
    letter-spacing: -0.1em;
}

.header-image {
    margin-right: 7px;
    width: 32px;
}

.header-text {
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 0.75rem;
}

.meme {
    display: flex;
    justify-content: center;
    position: relative;
}

.meme-image {
    max-width: 100%;
    border-radius: 3px;
}

.meme-text {
    position: absolute;
    width: 80%;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
    margin: 15px 0;
    padding: 0 5px;
    font-family: impact, sans-serif;
    font-size: 2em;
    text-transform: uppercase;
    color: white;
    letter-spacing: 1px;
    text-shadow:
        2px 2px 0 #000,
        -2px -2px 0 #000,
        2px -2px 0 #000,
        -2px 2px 0 #000,
        0 2px 0 #000,
        2px 0 0 #000,
        0 -2px 0 #000,
        -2px 0 0 #000,
        2px 2px 5px #000;
}

.top {
    top: 0;
}
